<component name="libraryTable">
  <library name="mybatis_pageHelper-jar">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/../../../Users/HASEE/Desktop/IDEAjar包/分页/mybatis_pageHelper-jar" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/../../../Users/HASEE/Desktop/IDEAjar包/分页/mybatis_pageHelper-jar" recursive="false" />
  </library>
</component>